name: Vehicles CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [backend, frontend, simulateVehicle]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          cd ${{ matrix.service }}
          npm install

      - name: Run tests
        run: |
          cd ${{ matrix.service }}
          npm test

  docker-build-push:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.event_name == 'push'
    strategy:
      matrix:
        service: [backend, frontend, simulateVehicle]
      include:
        - service: backend
          image_name: kareemkaokab/vehicles-backend
        - service: frontend
          image_name: kareemkaokab/vehicles-frontend
        - service: simulation
          image_name: kareemkaokab/vehicles-simulation

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Compose
        run: |
          docker version
          docker-compose version

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker-compose build ${{ matrix.service }}

      - name: Push Docker image
        run: docker-compose push ${{ matrix.service }}
